{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<main>
  <div class="container py-1">
    <h1>Страничка автора</h1>
    <p>
      <img src="{% static 'img/author.png' %}" width="600" height="450" class="d-inline-block align-top" alt="" />
    </p>
    <p>
      Привет, меня зовут Привалов Евгений. Я - автор этого сайта. Он был создан в рамках моего обучения по специальности
      "Python-разработчик" на образовательной платформе Яндекс Практикум.
    </p>
    <h2>Информация обо мне:</h2>
    <p>
      На момент создания сайта мне 35 лет. Я закончил Уральский Государственный Горный Университет по специальности
      "Автоматизация технологических процессов и производств". И почти 15 лет работаю по специальности: проектирую системы
      автоматизации, програмирую
      микроконтроллеры, разрабатываю Scada-системы для отображения информации, а также своими руками воплощаю эти проекты
      в жизнь. В разное время также занимал должности Начальника проектного отдела, Начальника отдела автоматизации, а
      также являлся ИП в
      области проектирования инженерных систем. А теперь я надеюсь, что изучение Python откроет для меня новые
      профессиональные горизоны и позволит мне в полной мере реализовать свои идеи и мечты.
    </p>
    <h2>Контактная информация:</h2>
    <p>
      Другие мои проекты можно посмотреть здесь:
      <a href="https://github.com/EvgeniyPrivalov1986">Github</a>
    </p>
    <p>
      Электронная почта:
      <a href="mailto:evprivalov86@gmail.com">evprivalov86@gmail.com</a>
    </p>
    <p>
      Мое резюме:
      <a href="https://ekaterinburg.hh.ru/resume/9cabae37ff0793def40039ed1f56454a725756">Резюме</a>
    </p>
  </div>
</main>
{% endblock %}