{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Github
      </li>
      <li class="list-group-item">
        SQL
      </li>
      <li class="list-group-item">
        Bash
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
      Для создания этого учебного проекта мне потребовались:
    <p>
      <li>Все полученные в ходе курса знания о Django и Python;</li>
    <p>
      <li>Помощь и терпение моих наставников, куратора и код-ревьера;</li>
    <p>
      <li>Несметное число выпитых кружек зеленого чая в моменты отчаяния;</li>
    <p>
      <li>Сотни часов, проведенных в медитации и повторении мантры: "Я не тупой, я только учусь!";
        <p>
      <li>Непоколебимая вера в то, что дорогу осилит идущий, а все великии дела начинаются с первого шага.
    </p>
  </article>
</div>
{% endblock %}